.board-row, .w3-third, .chooseButton {
    height: 80px;
}

.codewars {
    background-image: url("https://www.codewars.com/users/mthdht/badges/large");
    background-size: contain;
    background-repeat: no-repeat;
    width:200px;
    height: 25px;
}
.game {
    height: calc(100vh - 52px);
}

.game-board {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game, .game-board, .game-info {
    width: 100%;
}

.colors {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}
.color {
    width:15px;
    height: 15px;
}

@media screen and (min-width: 600px) {
    .game, .game-board, .bottombar {
        width: 600px;
    }

    .game {
        max-width:600px;
    }

    .board-row, .w3-third, .chooseButton {
        height: 120px;
    }
}